/* .vitepress/theme/custom.css */
:root {
  --global-font-size: 12px;
  --vp-c-text-1: rgba(60, 60, 67);
  --vp-c-text-2: rgba(60, 60, 60, 0.7);
  --vp-c-text-3: rgba(60, 60, 67, 0.56);

  /* 品牌颜色 */
  --vp-c-brand-1: #000000;

  /* 品牌按钮背景色 */
  --vp-c-brand-2: #000000;

  /* 品牌按钮背景色 */
  --vp-c-brand-3: #3c3c43;

  /* 导航栏高度 */
  --vp-nav-height: 48px;

  /* 提示块 */
  --vp-custom-block-tip-bg: rgba(60, 60, 60, 0.2);

  /* 侧边栏背景色 */
  --vp-sidebar-bg-color: #fff;
}

.dark {
  --vp-c-brand-1: #ffffff;
  /* --vp-c-brand-2: #747bff; */
}

body {
  font-size: 15px;
}

/* 导航栏 */
.VPNavBarMenu .text {
  font-size: 13px;
}

.VPNavBarMenu .VPMenu .title {
  font-size: 13px;
}

.VPNavBarMenu .VPMenu .link {
  font-size: 13px;
  line-height: 28px;
}

/* 页面导航 */
.VPDocAsideOutline .outline-link {
  font-size: 13px;
  line-height: 28px;
}

.VPNavBarTitle.has-sidebar .title {
  border-bottom: none;
  /* var(--vp-c-divider); */
}

.VPNav .VPNavBar.has-sidebar .divider {
  padding-left: 0;
}

.VPNav .VPNavBar.has-sidebar .divider .divider-line {
  background: none;
  border-top: 1px solid var(--vp-c-divider);
}

/* 侧边栏 */
@media (min-width: 960px) {
  .Layout .VPSidebar {
    padding-top: 37px;
    margin-top: var(--vp-nav-height)
  }

  .VPSidebar #VPSidebarNav {
    /* border-right: 1px solid var(--vp-c-divider); */
  }
}

.VPSidebar .VPSidebarItem.level-0 {
  padding-bottom: 0px;
}

.VPSidebar .VPSidebarItem.level-1 .text {
  font-size: 13px;
  line-height: 21px;
}

.VPSidebar #VPSidebarNav .group+.group {
  border-top: none;
}

/* 页面导航 */
.VPDocAsideOutline .outline-link {
  font-size: 13px;
  line-height: 28px;
}